.App {
  width: 70%;
  margin: {
    left: auto;
    right: auto;
    top: 5em;
  }
}

.todo-item-check {
  cursor: pointer;
}

.todo-item-title {
  display: block;
  border: 0;
}

input.todo-item-title {
  //background-color: hsla(60, 100%, 50%, .3);
}
