.App {
  width: 50%;
  margin: {
    left: auto;
    right: auto;
    top: 5em;
  }
}

.todo-item {
  display: flex;

  &:hover {
    .todo-item-delete {
      visibility: visible;
    }
  }
}

.todo-item {
  transition: all .5s;
}

.todo-item-check, .todo-item-delete, .todo-item:last-of-type {
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.todo-item-title {
  display: block;
  flex-grow: 1;
  border: 0;
  padding-left: .5em;

  &:hover {
    cursor: text;
  }
}

.todo-item-delete {
  visibility: hidden;
}


.todo-item-transition-exit {
  transform: translateX(0);
  opacity: 1;
}

.todo-item-transition-exit-active {
  transform: translateX(100%);
  opacity: 0;

  transition: transform 500ms, opacity 500ms ease-in;
}


